<%- include("partials/header"); %>

<h1>Compose</h1>

<form class="mb-3" action="/compose" method="post">
    <label for="">Title</label>
    <input class="form-control" type="text" name="postTitle" placeholder="Add Blog" autocomplete="off">
    <label for="">Post</label>
    <textarea class="form-control" name="postBody" cols="100" rows="10">Post.</textarea>
    <br>
    <button class="btn btn-primary" type="submit" >Publish</button>
</form>

<%- include("partials/footer"); %>